<div class='container'>
  <h1> <%= t('.edit_event')%> </h1>

  <%= render 'form', event: @event %>

  <br>
  <div class="links_buttoms">
    <%= link_to t('links.show'), @event, class: 'btn btn-primary btn-sm' %> 
    <%= link_to t('links.back'), events_path %>
  </div>
</div>
