<div class="field">
  <%= form.label Place.human_attribute_name("name") %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label Place.human_attribute_name("adres") %>
  <%= form.text_area :address %>
</div>