<div class="form-group">
  <%= place_form.label Place.human_attribute_name("name") %>
  <%= place_form.text_field(:name, class: "form-control" )%>
</div>

<div class="form-group">
  <%= place_form.label Place.human_attribute_name("adres") %>
  <%= place_form.text_field(:address, class: "form-control" )%>
</div>