<div class="field">
  <%= place_form.label Place.human_attribute_name("name") %>
  <%= place_form.text_field :name %>
</div>

<div class="field">
  <%= place_form.label Place.human_attribute_name("adres") %>
  <%= place_form.text_area :address %>
</div>