<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© <%= Date.current.year %> <%= t('.copyright') %>
    <a href="#"> <%= t('.mappapp') %></a>
  </div>
</footer>